<h1>Categoria(s)</h1>
<br >
<div>
    <% if @categories.any? %>
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descrição</th>
                        
                </tr>
            </thead>
            <tbody>
                <% @categories.each do |c| %>
                    <tr>
                        <td align="center"><%= c.id %>   </td>
                        <td> <%= c.name %> </td>
                        <td> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <p> Não ha Categorias Cadastradas !!! </p>
    <% end %>
</div>
<br>
<div>
    <%= link_to 'Voltar', root_path %>
</div>